{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'notes/css/getit.css' %}">
<div class="appbar">
    <img src="{% static 'notes/img/logo-getit.png' %}" class='logo' />
    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
  </div>

  <main class="container">

    <div class='note-input'>
      <form method='post' class="form-card">
        {% csrf_token %}
        <div class='note-input-inside-container'>
          <input class="form-card-title" id='titulo' type="text" name="titulo" placeholder="Título" />
          <textarea class="autoresize" name="detalhes" placeholder="Digite o conteúdo..."></textarea>
          <textarea name="tagName" id="tagName" cols="30" rows="1" placeholder="insira a tag"></textarea>
          <button class="btn" type="submit">Criar</button>
  
        </div>
      </form>
    </div>
  
    <div class="card-container">
        {% for note in notes %}
        <div class="card">
            <div class='title-edit-delete-container'>
              <h3 class="card-title">{{note.title}}</h3>
            </div>
            
            <div class="card-content">
              <p>{{note.content}}</p>
            </div>
            <div class='btn-container' style='display: flex; flex-direction: row; justify-content:space-evenly; margin-top: 20px;'>
              <form method='post'>
                {% csrf_token %}
                <textarea name='tagName' style='display: none'>{{note.tagName}}</textarea>               
                <textarea name='id' style='display: none'>{{note.id}}</textarea>
                <button class='btn-remove' style='color :white; background-color: red; border: 1px solid red; border-radius:5px' type='submit'>Remover</button>
              </form>
              <form action='/edit' method='post'>
                {% csrf_token %}
                <input name='edit' style='display: none' value='edit'></input>
                <textarea name='id' style='display: none' >{{note.id}}</textarea>
                <button class='btn-remove' style='color: white; background-color: rgb(14, 180, 14); border: 1px solid rgb(14, 180, 14); border-radius:5px' type='submit'>Editar</button>
              </form>
            </div>
          </div>
        {% endfor %}
    </div>
  
  </main>

  <section class='tag-list-section'>
      <div style='width:90%'>
        <h3 style='text-align:center; margin-left:-4%'>Busque Por Tag</h3>
        <div class='tags-browser-container'>
            {% for tag in tags %}
            <form method='post' action="/notesInTag">
              <textarea name="tag" id="tag" cols="30" rows="1" style='display: none'>{{tag.name}}</textarea>
              <button style='background-color:#017bcd; color:white' type='submit'>{{tag.name}}</button>
            </form>
            
            {% endfor %}
  
        </div>
      </div>
  </section>
  

  <script src="{% static 'notes/js/getit.js' %}"></script>


{% endblock %}